body
{
    font-family: Tahoma, Geneva, sans-serif;
    color: #fff;
    background-image: url(./images/image11.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
